body {
    margin: 0;
}
div.header {
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: rgba(41, 43, 92, 0.7);
    color: white;
    font-size: 64pt;
}
div.navigate {
    position: absolute;
    top: 120px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 255, 0.1);
    overflow: hidden;
}
div#content {
    border: solid 10px black;
    position: absolute;
    padding: 10px;
    top: 180px;
/*
    left: 250px;
    right: 0;
*/
    bottom: 64px;
    width: 100%;
    font-size: 28pt;
    overflow: auto;
}
div.footer {
    position: absolute;
    width: 100%;
    height: 64px;
    bottom: 0;
    background-color: rgba(45, 31, 64, 0.7);
}